<div class="container">
    <div class="row">
      <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <svg class="bi me-2" width="40" height="32">
              <use xlink:href="#bootstrap" />
            </svg>
            <span class="fs-4">Simple header</span>
          </a>
  
          <ul class="nav nav-pills">
            <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
            <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
          </ul>
        </header>
      </div>
  
      <form class="col-6">
        <div class="mb-3">
          <label for="name" class="form-label">Customer Name</label>
          <input type="text" class="form-control" [(ngModel)]="customer.name" name="name" id="name" />
        </div>
        <div class="mb-3">
          <label for="city" class="form-label">Customer City</label>
          <input type="text" class="form-control" [(ngModel)]="customer.city" name="city" id="city" />
        </div>
        <div class="mb-3">
          <label for="contact" class="form-label">Customer Contact</label>
          <input type="text" class="form-control" [(ngModel)]="customer.contact" name="contact" id="contact" />
        </div>
  
        <button type="button" class="btn btn-primary" (click)="addCustomer()">Add Customer</button>
      </form>
    </div>    
  </div>
  